<div class="form-group">
  <label>
    {{label}}
    {{#if required}}
      <abbr>*</abbr>
    {{/if}}
  </label>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">R$</span>
    </div>
    {{input
      type="tel"
      autocomplete="off"
      value=value
      focus-out=(action 'setValue')
      class=(concat "form-control " (if error 'is-invalid'))
      disabled=disabled
    }}
    {{#if error}}
      <div class="invalid-feedback">
        {{error}}
      </div>
    {{/if}}
  </div>
</div>
