<div class="form-group">
  {{#if label}}
    <label>
      {{label}}
      {{#if required}}
        <abbr>*</abbr>
      {{/if}}
    </label>
  {{/if}}
  {{input
    type="password"
    value=(get model attr)
    class=(concat "form-control " (if error 'is-invalid'))
    disabled=disabled
    placeholder=placeholder
  }}
  {{#if error}}
    <div class="invalid-feedback">
      {{error}}
    </div>
  {{/if}}
</div>
