<div class="form-group">
  <label>
    {{label}}
    {{#if required}}
      <abbr>*</abbr>
    {{/if}}
  </label>
  {{pikaday-input class=(if error 'form-control is-invalid' "form-control") yearRange=yearRange value=(readonly (get model attr)) onSelection=(action 'setValue') format="DD/MM/YYYY" useUTC=true disabled=disabled}}
  {{#if error}}
    <div class="invalid-feedback">
      {{error}}
    </div>
  {{/if}}
</div>
