<div class="form-group">
  <label>
    {{label}}
    {{#if required}}
      <abbr>*</abbr>
    {{/if}}
    {{#if help}}
      <abbr class="tip">
        ?
        <p class="m-0 pl-1 pr-1">{{help}}</p>
      </abbr>
    {{/if}}
  </label>
  {{textarea
    value=(get model attr)
    class=(concat "form-control " (if error 'is-invalid'))
    disabled=disabled
  }}
  {{#if error}}
    <div class="invalid-feedback">
      {{error}}
    </div>
  {{/if}}
</div>
